<div>
  <h1>Date Picks</h1>
</div>

<div>

  <div>
    <button mat-raised-button color="primary" (click)="testingDates(format1, 'ddmmyyyy')" style="margin-right: 10px">Format1</button>
    <button mat-raised-button color="primary" (click)="testingDates(format2, 'dd/mm/yyyy')" style="margin-right: 10px">Format2</button>
    <button mat-raised-button color="primary" (click)="testingDates(format3, 'mm/dd/yyyy')" style="margin-right: 10px">Format3</button>
    <button mat-raised-button color="primary" (click)="testingDates(format4, 'yyyy-mm-dd')">Format4</button>
  </div>

  <div style="margin-top: 10px">
    <form [formGroup] = "form">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker" formControlName="formate" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <!-- #enddocregion toggle -->
      </mat-form-field>
    </form>

  </div>

</div>
